# 依赖目录
node_modules/
.pnpm-store/

# 编译输出
dist/
build/
lib/

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编辑器目录和文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 浏览器状态文件
browser-state.json
browser-state-fingerprint.json
src/mcp-server.ts
.iter_plan.md
.iter_process.md
google-search-html/